.blinking-cursor {
  width: 7px;
  height: 0.777rem;
  display: inline-block;
  margin-left: -6px;
  margin-bottom: -1.5px;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes blink {
  from, to {
    background-color: transparent;
  }
  50% {
    background-color: #ddd;
  }
}

@-moz-keyframes blink {
  from, to {
    background-color: transparent;
  }
  50% {
    background-color: #ddd;
  }
}

@-webkit-keyframes blink {
  from, to {
    background-color: transparent;
  }
  50% {
    background-color: #ddd;
  }
}

@-ms-keyframes blink {
  from, to {
    background-color: transparent;
  }
  50% {
    background-color: #ddd;
  }
}

@-o-keyframes blink {
  from, to {
    background-color: transparent;
  }
  50% {
    background-color: #ddd;
  }
}