---
layout: default
---

<article class="post clearfix">
  <header class="post__header post__header--post">
    <time class="post__date">{{ page.date | date: "%b %e, %Y" }}</time>

    <h2 class="post__title post__title--post">
      <a href="{{ page.source }}" target="_blank" rel="noreferrer">
        {{ page.title }}
  
        {% if page.level %}
          <span class="post__level post__level--{{ page.level }}"></span>
        {% endif %}
      </a>
    </h2>
  </header>

  <div class="post__content">
    {{ content }}
  </div>

  {% include disqus.html %}
</article>
